version: "3.8"

services:
  iot_pg:
    container_name: iot_pg
    image: timescale/timescaledb:2.5.1-pg14 
    env_file:
      - .env
    volumes:
      - ./timescale:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: unless-stopped

  realtime_iot:
    build: .
    container_name: realtime_iot
    command: wait-for-it.sh iot_pg:5432 -t 20 --strict -- air -c .air.toml
    env_file:
      - .env
    volumes:
      - .:/realtime_iot
    ports:
      - 31415:31415
    depends_on:
      - iot_pg

volumes:
  postgres:
